.NavigationEntry {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    background-color: inherit;
    width: 100%;
}

.NavigationEntry a {
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationEntry a:hover,
.NavigationEntry a.active,
.NavigationEntry a:active {
    color: #f64c72;
}

@media (min-width: 800px) {
    .NavigationEntry {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationEntry a {
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationEntry a:hover,
    .NavigationEntry a.active,
    .NavigationEntry a:active {
        background-color: inherit;
    }
}