.Card {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    border: solid 1px #3e5fc2;
    margin-top: 0;
    color: #eee;
    background-color: #3356bf;
}
div p {
   width: 100%;
   text-transform: uppercase;
   font-weight: 500;
}
div p span {
   float: right;
   font-weight: 100;
   text-decoration: underline #ccc;
}

@media (min-width: 800px) {
    .Card {
        padding: 10px;
        margin-top: 50px;
        border-radius: 15px;
   }
}