.ListItem {
    background-color: gainsboro;
    border: 2px solid black;
    margin-top: 15px;
}

.ListItem:hover, .ListItem:active, .ListItem.Active {
    background-color: green;
    color: white;
}

.ListItemInvalid {
    background-color: rgb(142, 25, 25);
    border: 2px solid black;
    margin-top: 15px;
    color: white;
}

.HeaderInvalid, .ListItemInvalid pre, .ListItemInvalid span {
    color: white;
    text-decoration: line-through;
}

.Header {
    color: darkgoldenrod;
}

.Header, .HeaderInvalid {
    text-align: center;;
}

.pre {
    padding-left: 15px;
}

.ListItemValue {
    float: right;
    margin-right: 30px;
}

.ListItem pre,
.ListItemInvalid pre,
.Header,
.HeaderInvalid {
    margin-left: 20px;
}