.RouteSummary {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: solid 1px #3e5fc2;
    border-bottom: solid 1px #3e5fc2;
}

.RouteSummary ul {
    margin: auto;
    margin-left: 0;
    list-style: none;
    padding-inline-start: 13px;
}

.RouteSummary li {
    padding-right: 30px;
}

.RouteSummary pre {
    font-family: inherit;
}