.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.EndTurn {
    color: #7bafba;
}

.ChangeOrigin {
    padding-left: 10px !important;
    height: 0;
    color: darkorange;
}

.ChangeDestination {
    padding-left: inherit;
    height: 0;
    color: darkorange;
}

.Button:hover {
    color: #f64c72 !important;
}

.Button:disabled {
    color: rgb(113, 105, 96) !important;
    cursor: not-allowed;
}

@media (min-width: 800px) {
    .ChangeOrigin {
        padding-left: 13px !important;
    }
    
    .ChangeDestination {
        padding-left: 3px !important;
    }
}