.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.EndTurn {
    color: #7bafba;
}

.CreateGame {
    color: #5C9210;
    width: 100%;
    text-align: center;  
}

.ManipulateRoute {
    color: #7bafba;
    width: 25%;
    padding: unset;
    margin: unset;
}

.StockAction, .StandardView {
    width: 50%;
    background-color: #212fa2;
    height: 35px;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    margin: 5px 0 0 0;
    padding-left: 10px !important;
    cursor: pointer;
}

.StandardView {
    width: 100%;
}

.SetTrain, .ChangeDestination, .ChangeOrigin, .BuyRoute {
    background-color: #3e5fc2;
    margin: 0;
    margin-top: 5px;
    width: 100%
}

.EditRouteConfirm, .EditRouteCancel {
    width: 50%;
    margin: 0;
}

.EditRouteConfirm:hover {
    background-color: green;
    color: white !important;
}

.EditRouteCancel:hover {
    background-color: red;
    color: white !important;
}

.BuyRoute {
    background-color: rebeccapurple;
}

.ChangeDestination {
    color: lightgreen;
}

.ChangeOrigin {
    color: rgb(255, 255, 0);
}

.BuyRoute:disabled {
    background-color: #3e5fc2;
}

.StandardView:hover {
    background-color: green;
    color: white !important;
}

.StandardView:disabled:hover {
    background-color: #212fa2;
}

.SetTrain:hover, .ChangeOrigin:hover, .ChangeDestination:hover, .BuyRoute:hover {
    background-color: green;
    color: white !important;
}

.EditRouteConfirm:disabled:hover {
    background-color: #212fa2
}

.SetTrain:disabled:hover, 
.ChangeOrigin:disabled:hover, 
.ChangeDestination:disabled:hover, 
.BuyRoute:disabled:hover {
    background-color: #3e5fc2;
}

.Button:hover {
    color: #f64c72;
}

.Button:disabled {
    color: rgb(113, 105, 96) !important;
    cursor: not-allowed;
}