.Sign {
    border-left: 1px solid #3e5fc2;
    background-color: inherit;
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin: 0 5px 0 5px;
    width: 50%;
}

.Sign div {
    height: 100%;
    width: 100%;
    text-align: center;
}

.NotAccess {
    color: gray;
}

.Access:hover {
    background-color: green;
    cursor: pointer;
}

.NotAccess:hover {
    cursor: not-allowed;
}

@media (min-width: 800px) {
    .Sign {
        width: auto;
        height: auto;
        border-radius: 50%;
    }
}