.Cards {
    margin-top: 50px;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-flow: column;
}

li {
    width: 100%;
}

@media (min-width: 800px) {
    .Cards {
        margin: auto;
        flex-flow: row;
        align-items: center;
        height: 100%;
        justify-content: space-between;
    }
}