body {
  background-color: #212fa2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div p {
  width: 100%;
  text-transform: uppercase;
  color: white;
}

div p span {
  float: right;
  font-weight: 500;
  color: white;
}

footer {
  background-color: #242582;
  text-align: center;
  color: #3e5fc2;
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
}

hr {
  border: 1px solid #3e5fc2;
  ;
  width: 100%;
}